:root {
    /* color theme */
    --surface:      #FFFFFF;

    /* header/nav */
    --header-con:   #F3F4F6; 
    --nav-link:     #707080; /* #666666 */
    --nav-button:   #707080;
    --nav-menu:     #F3F4F6;
    --foot-con:     #F3F4F6;
    --foot-p:       #707080;

    /* home */
    --home-titel:   #42446E;
    --pic-frame:    #076D99; /* #14B2F5  */

    /* about */
    --about-title:  #42446E;
    --about-p:      #707080;
    --about-list:   #F3F4F6;
    --ab-list-titel:#707080;
    --ab-list-p:    #F3F4F6; /* #3D3F66 */
    --ab-list-ps:   #43434D; /* #A7A7A7 */
    --ab-list-box:  #01660B; /* #D7FFE0 */
    --ab-list-boxp: #F3F4F6; /* #161627 #018C0F */
    --ab-list-bdr:  #858599;
    --ab-task-info: #076D99;

    /* tech */
    --tech-title:   #42446E;
    --tech-p:       #3D3F66;
    --tech-bframe:  #F3F4F6;

    /* projects */
    --project-title:#42446E;
    --project-p:    #3D3F66;
    --project-card: #F3F4F6;
    --pr-card-title:#42446E; /* 000000 */
    --pr-card-p:    #3D3F66;
    --pr-card-foot: #43434D;
    --pr-card-link: #42446E;
    --pr-card-bdr:  #858599;

    /* contact */
    --contact-title: #42446E;
    --contact-p:     #087DAF;

}



/*** 2. RESET ***/
* {
/* removes spaces that are already present on a newly opened web page */
margin:     0;
padding:    0;

/* returns the actual content size, including padding, border, margin and etc */
box-sizing: border-box;
}

/* removes the dot that comes with the list item by default */
li, summary { list-style-type: none; }

/* the images on the site is always wide as the parent-element */
img { max-width: 100%; object-fit: cover; }

/* removes the underline, which is the default. */
a { text-decoration: none; }



/*** 3. ELEMENT ***/
/* knowledge from the class */ /*
html {
    font-size: 62.5%; 1rem = 10px
} 
*/


html {
    scrollbar-gutter: stable;
}


body {
        /* standard font pack for the whole project */
        font-family:        "Poppins", sans-serif;
        font-size:          1rem;
        font-weight:        300;
        line-height:        1;
        background-color:   #ffffff;


        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100dvh;
}



/*** 4. SHARED BLOCK ***/
header {
        background-color: var(--header-con);
        user-select: none;


    .head-container {
        display: flex;
        column-gap: 1rem;
        justify-content: end;
        align-items: center;
        padding: 1rem .5rem;
        max-width: 64rem;
        margin: 0 auto;
    }


    .header-toggle-box {
        display: flex;
        column-gap: 1rem;
    }


    .main-menu {
        display: none;
        column-gap: 1rem; 
        align-items: center;
    }

    .nav-page-list {
        display: flex;
        column-gap: 1rem;
    }

    .nav-social-list {
        display: flex;
        column-gap: 1rem;
    }


    #drop-menu {
        border: none;
        width: 100%;
        top: 4rem;
            background-color: var(--nav-menu);
        }


    .drop-social-list {
        display: flex;
        column-gap: 2rem;
        justify-content: center;
        padding: 2rem;
    }
}





footer {
        background-color: var(--foot-con);

    .foot-container {
        max-width: 64rem;
        margin: 0 auto;
        padding: 2rem .5rem;
    }
}



/*** 5. FEATURING ***/
/* paragraph */
.foot-p {
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        color: var(--foot-p);
}



/* link */
.drop-link, .nav-link { 
    display: block;
    padding: 1rem 0;
        font-weight: 400;
        text-align: center;
        color: var(--nav-link);

}


/* link image */
.brand-link {
    display: flex;
    column-gap: .25rem;
    align-items: center;
    max-width: 2rem; max-height: 2rem;
    margin-right: auto;
    cursor: pointer;
        
    span {
            font-weight: 500;
            color: var(--nav-link);
    }
}


/* buttons/img */
.header-toggle-box button {
    display: flex;
    padding: .25rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;

        background-color: var(--nav-button);

    img {
        aspect-ratio: 1/1;
        max-width: 2rem; max-height: 2rem;
    }
}



/*** 6. RESPONSIVE ***/
/* laptop */
@media only screen and (min-width: 64rem) { 
    header {

        .head-container {
            width: min(75%, 64rem);
        }

    }

    footer {

        .foot-container {
            width: min(75%, 64rem);
        }

    }
}


/* tablet */
@media only screen and (min-width: 48rem) {
    header {

        .main-menu {
            display: flex;
        }

        .drop-none {
            display: none;
        }

    }
}

/* mobile */
@media only screen and (min-width: 26.5625rem) {
    header {



    }
} 