:root {
    /* color theme */
    --surface:      #FFFFFF;

    /* header/nav */
    --header-con:   #F5F5F5; 
    --nav-link:     #666666; 
    --nav-button:   #666666;
    --nav-menu:     #F5F5F5;
    --foot-con:     #F5F5F5;
    --foot-p:       #666666;

    /* home */
    --home-titel:   #42446E;
    --pic-frame:    #E70FAA;

    /* contact */
    --contact-title: #42446E;
    --contact-p:     #E70FAA;

    /* tech */
    --tech-title:   #42446E;
    --tech-p:       #E70FAA;
    --tech-bframe:  #F5F5F5;

}



/*** 2. RESET ***/
* {
/* removes spaces that are already present on a newly opened web page */
margin:     0;
padding:    0;

/* returns the actual content size, including padding, border, margin and etc */
box-sizing: border-box;
}

/* removes the dot that comes with the list item by default */
li, summary { list-style-type: none; }

/* the images on the site is always wide as the parent-element */
img { max-width: 100%; object-fit: cover; }

/* removes the underline, which is the default. */
a { text-decoration: none; }



/*** 3. ELEMENT ***/
/* knowledge from the class */ /*
html {
    font-size: 62.5%; 1rem = 10px
} 
*/



body {
        /* standard font pack for the whole project */
        font-family:        "Poppins", sans-serif;
        font-size:          1rem;
        font-weight:        300;
        line-height:        1;
        background-color:   #ffffff;


        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100dvh;
}



/*** 4. SHARED BLOCK ***/
header {
        background-color: var(--surface);
        user-select: none;


    .head-container {
        display: flex;
        justify-content: space-between;
        padding: 1rem .5rem;
            background-color: var(--header-con);
    }


    .header-toggle-box {
        display: flex;
        column-gap: .5rem;
    }


    #drop-menu {
        border: none;
        width: 100%;
        top: 4rem;
            background-color: var(--nav-menu);
        }


    .nav-social-list {
        display: flex;
        column-gap: 2rem;
        justify-content: center;
        padding: 2rem;
    }
}





footer {
        background-color: var(--foot-con);


    .foot-container {
        padding: 2rem .5rem;
    }
}



/*** 5. FEATURING ***/
/* paragraph */
.foot-p {
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        color: var(--foot-p);

    span {
        display: block;
    }
}



/* link */
.nav-link { 
    display: block;
    padding: 1rem 0;
        font-weight: 400;
        text-align: center;
        color: var(--nav-link);

}


/* link image */
.brand-link {
    display: flex;
    column-gap: .25rem;
    align-items: center;
    max-width: 2rem; max-height: 2rem;
    cursor: pointer;
        
    span {
            font-weight: 500;
            color: var(--nav-link);
    }
}


/* buttons/img */
.header-toggle-box button {
    padding: .25rem;
    border: none;
    border-radius: 50%;
    max-width: 2rem; max-height: 2rem;
        background-color: var(--nav-button);

    img {
        aspect-ratio: 1/1;
    }
}



/*** 6. RESPONSIVE ***/
/* laptop */
@media only screen and (max-width: 64rem) {

}


/* tablet */
@media only screen and (max-width: 48rem) {

}


/* ignore mobile */ 
    /* 
@media only screen and (max-width: 26.5625rem) {

} 
    */