/*** 4. BLOCK ***/
main {
    padding: 4rem 0;

    .contact-content {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        justify-content: center;
        align-items: center;
        max-width: 64rem; height: 100%;
        margin: 0 auto; 
    }

}



/*** 5. FEATURING ***/
/* title */
.contact-title {
        font-size: clamp(1rem, 5vw, 2rem);
        font-weight: 800;
        line-height: 1.5;
            color: var(--contact-title);
}

/* paragraph */
.contact-p {
        font-size: clamp(1rem, 5vw, 2rem);
        font-weight: 500;
        color: var(--contact-p);

}



/*** 6. RESPONSIVE ***/
/* laptop */
@media only screen and (min-width: 64rem) {
    main {

        .contact-container {
            width: min(75%, 64rem);
        }

    }
}


/* tablet */
@media only screen and (min-width: 48rem) {

}


/* mobile */
@media only screen and (min-width: 26.5625rem) {

}