/*** 4. BLOCK ***/
main {
    padding: 4rem 0;

    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 64rem;
        height: 100%;
        margin: 0 auto;
    }

}



/*** 5. FEATURING ***/
/* title */
.home-headline {
        font-size: clamp(1.25rem, 5vw, 2.5rem);
        font-weight: 800;
        line-height: 1.25;
            color: var(--home-titel);
}


/* image */
.home-profile {
    border: .5rem solid var(--pic-frame);
    border-radius: 50%;
    width: clamp(12rem, 20vw, 16rem);
}



/*** 6. RESPONSIVE ***/
/* laptop */
@media only screen and (min-width: 64rem) {
    main {

        .home-container {
            width: min(75%, 64rem);
        }

    }
}


/* tablet */
@media only screen and (min-width: 48rem) {
    main {

        .home-container {
            flex-direction: row;
            column-gap: 2rem;
        }

    }
}



/* mobile */
@media only screen and (min-width: 26.5625rem) {

}