/*** 4. BLOCK ***/
main {


    .tech-container {
        display: flex;
        flex-direction: column;
        row-gap: 4em;
        justify-content: center;
        max-width: 64rem; height: 100%;
        margin: 0 auto;
    }

    article {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        padding: 0 .5rem;
    }

    .tech-list {
        display: flex;
        gap: .5rem;
        justify-content: start;
        padding: 0 .5rem;
        flex-wrap: wrap;
    
        li {
            display: flex;
            padding: .5rem;
            width: 4.25rem; height: 4.25rem;
                background-color: var(--tech-bframe); 
            
        }
    }
    
}



/*** 5. FEATURING ***/
/* title */
.tech-title {
        font-size: 1.5rem;
        font-weight: 800;
            text-align: center;
            color: var(--contact-title);
}

/* paragraph */
.tech-p {
        font-weight: 500;
        line-height: 1.25;
        text-align: center;
        color: var(--contact-p);

}



/*** 6. RESPONSIVE ***/
/* laptop */
@media only screen and (min-width: 64rem) {

}


/* tablet */
@media only screen and (min-width: 48rem) {

}


/* mobile */
@media only screen and (min-width: 26.5625rem) {
    main {

        .tech-title {
            text-align: start;
        }

        .tech-p {
            text-align: start;
        }

    }